.joinForm {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    h2 {
        font-size: 20px;
    }
    > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;
        :last-child {
            margin-bottom: 0;
        }
        > label,
        > p {
            flex: 1 0 120px;
            max-width: 220px;
        }
        > label + *,
        .inner {
            flex: 1 0 100px;
        }
        &.btn-group {
            padding: 20px 0;
            justify-content: center;
        }
    }
}
